<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(pedidos)}">
        <h1>Lista de Pedidos</h1>

        <b>Usuario:</b> <b th:text="${user.name}"></b>
        <li><a th:href="${'/logout'}">Cerrar sesión</a></li>

        <!--
        <form th:action="@{/pedido/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Nuevo pedido</button>
        </form>
        -->

            <button class="btn btn-md btn-warning btn-block" type="Submit">Pedidos</button>




        <table class="table table-striped">
            <tr>
                <th>Nro pedido</th>
                <th>Dirección</th>
                <th>Estado</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.direccion}"></td>
                <td th:text="${pedido.estadopedido.estadope}"></td>
                <td><a th:href="${'/pedido/' + pedido.id}">Detalle</a></td>
                <td><a th:href="${'/pedido/edit/' + pedido.id}">Editar</a></td>
                <td><a th:href="${'/pedido/delete/' + pedido.id}">Eliminar</a></td>
            </tr>
        </table>
        <!--
        <a th:href="${'/user/home'}">Volver menu principal</a>
        -->
    </div>
</div>
</body>
</html>