<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">


    <h2 class="btn btn-md btn-warning btn-block" type="Submit">EDITAR DIRECCION</h2>
    <div>
        <form class="form-horizontal" th:object="${pedido}" th:action="@{/pedido}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label"> Nombre :</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{nombre_Pedido}"/>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label"> Precio :</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" th:field="*{precio_Pedido}"/>-->
            <!--</div>-->
            <!--</div>-->


            <div class="form-group">
                <label class="col-sm-2 control-label">Pedido:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{category_choice}"/>

                    <span style="color: red;" th:if="${#fields.hasErrors('category_choice')}" th:errors="*{category_choice}">Errors</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurant:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{category_restaurant}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('category_restaurant')}" th:errors="*{category_restaurant}">Errors</span>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <select th:field="*{estadopedido}">
                        <option th:each="estadopedido: ${estadoss}"
                                th:value="${estadopedido.id}"
                                th:text="${estadopedido.estadope}"></option>
                    </select>
                </div>
            </div>






            <div class="form-group">
                <label class="col-sm-2 control-label"> Direccion :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{direccion}"/>
                </div>
            </div>

            <div class="row">

                <button class="btn btn-md btn-warning btn-block" type="Submit">Confirmar</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>