<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>


<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Bienvenido"></h3>
        <br/>
        <input type="text" id="username" name="email"  th:placeholder="Email"
               class="form-control" required="required" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />
        <br />
        <br />

        <button class="btn btn-md btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        <br />

    </form>

    <form th:action="@{/registration}" method="get">

        <button class="btn btn-md btn-warning btn-block" type="Submit">Registrarme</button>

    </form>
</div>
</body>
</html>