<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">Nuevo pedido</h2>

    <div>
        <form class="form-horizontal" th:object="${pedido}" th:action="@{/nextPedido}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">USUARIO:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:field="*{id_user}" th:value="${users.id}" th:text="${users.name}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CIUDAD:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:text="${users.getId_city().getNombre_ciudad()}" />
                </div>
            </div>
            //cambio
            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurante :</label>
                <div class="col-sm-10">
                    <select th:field="*{category_restaurant}">
                        <option th:each="category_restaurant : ${restaurants}"
                                th:value="${category_restaurant.id}"
                                th:text="${category_restaurant.name}"></option>
                    </select>
                </div>
            </div>





            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Siguiente</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>