<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">NUEVO PEDIDO</h2>

    <div>
        <form class="form-horizontal" th:object="${pedido}" th:action="@{/pedido}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{category_restaurant}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">USUARIO:</label>
                <div class="col-sm-10">
                    <label type="text" class="form-control" th:field="*{id_user}" th:value="${users.id}" th:text="${users.name}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Opciones :</label>
                <div class="col-sm-10">
                    <select th:field="*{category_choice}">
                        <option th:each="category_choice : ${choices}"
                                th:value="${category_choice.id}"
                                th:text="${category_choice.nombre_Opcion}"></option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-10">
                    <select th:field="*{estadopedido}">
                        <option th:each="estadopedido: ${estados}"
                                th:value="${estadopedido.id}"
                                th:text="${estadopedido.estadope}"></option>
                    </select>
                </div>
            </div>








            <div class="form-group">
                <label class="col-sm-2 control-label"> latitud :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{latitudPedido}" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"> longitud :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{longitudPedido}" required="required"/>
                </div>
            </div>



            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Confirmar Pedido</button>
            </div>

            <a th:href="${'/user/home'}">Volver a menú</a>

        </form>
    </div>
</div>
</body>
</html>